
* {
	box-sizing: border-box;
}

.bodyNorris {
  background: linear-gradient(to right, #301916 0%, #301916 5%, #8A6552 5%, #8A6552 10%, #462521 10%, #462521 15%, #301916 15%, #301916 20%, #462521 20%, #462521 25%, #8A6552 25%, #8A6552 30%, #301916 30%, #301916 35%, #8A6552 35%, #8A6552 40%, #462521 40%, #462521 45%, #301916 45%, #301916 50%, #8A6552 50%, #8A6552 55%, #462521 55%, #462521 60%, #301916 60%, #301916 65%, #8A6552 65%, #8A6552 70%, #301916 70%, #301916 75%, #462521 75%, #462521 80%, #301916 80%, #301916 85%, #8A6552 85%, #8A6552 90%, #462521 90%, #462521 95%, #301916 95%, #301916 100%);
  display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;  
  text-align: center;
  height: 100vh;
  margin-top: -5%;
}



.boxNorris {
  background:  rgb(255, 236, 195);
  color: rgb(109, 86, 25);
	padding: 60px;
	max-width: 650px;
	background: lighten(rgb(179, 147, 60), 20%);
	border: 5px dashed rgb(179, 147, 60);

	font-family: Marcellus, serif;
	font-size: 3em;
	text-shadow: 0 2px #fff;
	text-align: center;
}

.timer {
  font-family: Marcellus, serif;
	font-size: 0.5em;
	text-shadow: 0 2px #fff;
	text-align: center;
}