body {

  background: #0f2027;
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);

  color: rgb(0, 0, 0);
}

h1 { font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
		line-height: 40px;
		letter-spacing: 4px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
			font-weight: 100; }

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	color: rgb(0, 0, 0);
	border-radius: 1px;
position: relative;
width: 80%;
margin-top: 5%;
margin-right: 12%;
background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
display: flex;
}


.container .box.shadow {
	color: rgb(0, 0, 0);
  box-shadow: 40px 40px 40px rgba(0,0,0,0.12), 40px 40px 40px rgba(0,0,0,0.24);
}

.textbox {
	justify-content:  left;
align-items: left;
color: rgb(255, 247, 177);	
font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 20px;
		line-height: 40px;
		letter-spacing: 2px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%

}

.answerline {
	display: flex;
	flex-direction: row;
	
}

.answerline {
	display: inline-block;
	
}

